@media (min-width: 1251px)
  .phone
    &__icon
      display: none
@media (max-width: 1650px)
  .container
    max-width: 1500px
@media (max-width: 1550px)
  .container
    max-width: 1400px
  .header
    &__logo
      margin-right: 80px
  .navbar
    margin-right: 100px
@media (max-width: 1450px)
  .container
    max-width: 1200px
  .header
    &__logo
      margin-right: 30px
  .navbar
    margin-right: 50px
  .header
    &-phone
      &-search
        width: 240px
        margin-right: 25px
@media (max-width: 1250px)
  .container
    max-width: 1100px
  .hero
    &__title
      width: 250px
  .phone
    width: 70px
    &__icon
      display: block
  .header
    &__phone
      display: none
  .dropdown
    &-language
      right: 60px
// @media (max-width: 1024px)
// @media (max-width: 992px)
// @media (max-width: 767px)
// @media (max-width: 576px)
// @media (min-width: 320px) and (max-width: 480px)


@media (min-width: 992px)
  .dropdown
    &-link
      &:hover
        color: #767676
        .navbar__icon
          fill: #767676
          stroke: #b92626

    &-content
      &__link
        &:hover
          color: #767676
  .navbar
    &__item
      &--dropdown
          &:hover .dropdown-content
            display: block
  .header
    &__phone
      &:hover
        color: #767676
  .details
    &__link
      &:hover
        color: #767676
  .hero
    &__next
      &:hover
        fill: #b92626
  .language
    &:hover .dropdown-language
      display: block
  .dropdown
    &-language
      &__link
        &:hover
          color: #767676
